body {
  background-color: black;
  height: 500px;
  width: 100%;
}

.container {
  text-align: center;
  width: 100%;
}

.link a {
  color: Aquamarine;
  font-size: 16px;
  font-family: Verdana;
}

h1 {
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
  font-weight: normal;
}

video {
    object-fit: contain;
}

h2 {
font-size: 42px;
font-weight: 300px;
font-family: Verdana;
color: #FFFFFF;
}

.subheader p {
  color: Gray;
  font-size: 21px;
  font-family: Verdana;
}

.pic {
  padding: 15px;
}

.container .footer p {
  color: Gray;
  font-family: Verdana;
  text-align: right;
}
